{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "printWidth": 100,
  "bracketSameLine": true,
  "singleAttributePerLine": true,
  "endOfLine": "lf",
  "plugins": [
    "prettier-plugin-tailwindcss"
  ]
}